---

---
<div class="info">
  è veramente un bel plasma
</div>

<style>

  .info{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 666;
    color: lime;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
</style>